{% extends 'base.html.twig' %}
{% block title %}Edit Notification{% endblock %}

{% block body %}
    <div class="container">
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger mt-4" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-md-10 ml-md-auto">
                <div class="card bg-light mb-3 mt-5" style="width: 800px">
                    <div class="card-body">
                        {% if app.user %}
                            <div class="card-header mb-3">Edit status-check request</div>
                            {{ form_start(form) }}
                            <div class="form_group">
                                <div class="col-md-12 mb-3">
                                    {{ form_row(form.url, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form_group">
                                <div class="col-md-12 mb-3">
                                    {{ form_row(form.type, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form_group">
                                <div class="col-md-12 mb-3">
                                    {{ form_row(form.httpMethod, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form_group">
                                <div class="col-md-12 mb-3">
                                    {{ form_row(form.sendingFrequency, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form_group">
                                <div class="col-md-12 mb-3">
                                    <div class="mb-2">Receivers</div>
                                    <div id="email-fields-list"
                                        data-prototype="{{ form_widget(form.receivers.vars.prototype)|e }}"
                                        data-widget-tags="{{ '<div class="form-control col-md-4 mb-2"></div>'|e }}"
                                        data-widget-counter="{{ form.receivers|length }}">
                                        {% for emailField in form.receivers %}
                                            <div class="input-group  collection-widget mb-2">
                                                <div class="form-control input-group col-md-4">
                                                    {{ form_widget(emailField) }}
                                                </div>
                                                <button type="button" class="btn-outline-danger input-group-text remove-collection-widget">
                                                    <i class="bi-trash"></i>
                                                </button>
                                            </div>
                                        {% endfor %}
                                    </div>

                                    <button type="button"
                                            class="btn btn-secondary add-another-collection-widget"
                                            data-list-selector="#email-fields-list">
                                        <i class="fa fa-btn fa-user bi bi-plus-circle"></i> Add receiver
                                    </button>
                                </div>
                            </div>
                            <div class="form_group">
                                <div class="col-md-12 mb-3">
                                    {{ form_row(form.isActive, {'attr': {'class':
                                        'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-4" style="margin-top:5px;">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-btn fa-user bi bi-hdd"></i> Save changes
                                    </button>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        {% elseif not app.user %}
                            <div class="text-center">
                                <a href="{{ path('app_login') }}" class="btn btn-info"><i class="bi bi-door-open"></i> Log In</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        jQuery(document).ready(function () {
            jQuery('.add-another-collection-widget').click(function (e) {
                var list = jQuery(jQuery(this).attr('data-list-selector'));
                var counter = list.data('widget-counter') || list.children().length;
                var newWidget = list.attr('data-prototype');

                newWidget = newWidget.replace(/__name__/g, counter);

                counter++;
                list.data('widget-counter', counter);

                var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
                newElem.appendTo(list);
            });
            jQuery('.remove-collection-widget').click(function (e) {
                $(this).closest('.collection-widget')
                    .fadeOut()
                    .remove();
            });
        });
    </script>
{% endblock %}
