<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Status Checker{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="icon" type="image/png" href="{{ asset('assets/favicon-32x32.png') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav
        class="navbar navbar-expand-lg navbar-light bg-light"
>
    <a href={{ path('app_status') }}>
        <img src="{{ asset('assets/logo-syngeos.png') }}" alt="logo syngeos"
             class="mr-3">
    </a>
    <a class="navbar-brand nav-link" style="color:rgba(0,0,0,.7)" href="{{ path('app_status') }}"><i
                class="bi bi-graph-up-arrow"></i> <b>Status Checker</b></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
    <ul class="nav navbar-nav navbar-right font-weight-bold">
        <li><a class="nav-link" href="{{ path('app_status') }}"><i class="bi bi-bar-chart-line"></i> Status
            </a></li>
        {% if app.user %}
            <li><a class="nav-link" href="{{ path('app_notification') }}"><i class="bi bi-card-checklist"></i> All
                    requests
                </a></li>
            <li><a class="nav-link" href="{{ path('app_notification_create') }}"><i class="bi bi-plus-circle"></i>
                    Create new request
                </a></li>
            <li><a class="nav-link" href="{{ path('app_logout') }}"><i class="bi bi-door-open-fill"></i> Logout
                </a></li>
        {% elseif not app.user %}
            <li><a class="nav-link" href="{{ path('app_login') }}"><i class="bi bi-door-open"></i> Login
                </a></li>
            {% if user_registration_enabled == 1 %}
                <li><a class="nav-link" href="{{ path('app_registration') }}"><i class="bi bi-pen"></i> Register
                    </a></li>
            {% endif %}
        {% endif %}
    </ul>
</nav>
{% for message in app.flashes('error') %}
    <div class="container">
        <div class="alert alert-danger mt-4" role="alert">
            {{ message }}
        </div>
    </div>
{% endfor %}
{% for message in app.flashes('success') %}
    <div class="container">
        <div class="alert alert-success mt-4" role="alert">
            {{ message }}
        </div>
    </div>
{% endfor %}
{% block body %}{% endblock %} {% block javascripts %}{% endblock %}
</body>
</html>
